<!-- .contact -->
<div id="contact" class="content_2">

    <h1 class="h-bloc">Contatti</h1>


    <div class="row">

        <div class="col-lg-12">
            <div class="row" id="contact-user">
                <div class="col-md-5">
                    <div class="contact-info">
                        <!--<h3 class="main-heading"><span>Contact info</span></h3>-->

                        <div class="title_content" style="float: none;">
                            <div class="text_content">Contatti</div>
                            <div class="clear"></div>
                        </div>

                        <ul>
                            <li><span class="span-info"><i class="glyphicon glyphicon-map-marker"></i> Indirizzo:</span>
                               Gavardo, BS.<br/><br/></li>
                            <li><span class="span-info"><i class="glyphicon glyphicon-envelope"></i> Email:</span>
                                juryghidinelli@gmail.com
                            </li>
                            <li><span class="span-info"><i class="glyphicon glyphicon-phone"></i> Telefono:</span>
                                Scrivimi una mail
                            </li>
                            <li><span class="span-info"><i class="glyphicon glyphicon-globe"></i> Website:</span>
                                http://juryghidinelli.github.io
                            </li>
                        </ul>
                    </div>
                    <!-- /Contact Info -->
                    <div class="clear"></div>

                    <!--<h3 class="main-heading" style="margin-left: 22px;"><span>Follow me</span></h3>-->

                    <div class="title_content tiltle_contacts" style="float: none;">
                        <div class="text_content">Seguimi</div>
                        <div class="clear"></div>
                    </div>


                    <div id="profile_social">
                        <a href="{{site.facebook}}"><i class="fa fa-facebook"></i></a>
                        <a href="{{site.twitter}}"><i class="fa fa-twitter"></i></a>
                        <a href="{{site.linkedin}}"><i class="fa fa-linkedin"></i></a>
                        <a href="{{site.github}}"><i class="fa fa fa-github"></i></a>
                        <a href="{{site.instagram}}"><i class="fa fa-instagram"></i></a>

                        <div class="clear"></div>
                    </div>


                </div>

                <div class="col-md-7">

                    <img class="head-image up circle" src="images/contact.jpg" alt=""/>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- End .contact -->