<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">CV - Curriculum Vitae</h1>

    <div class="row">

        <!-- .resume-right -->
        <div class="col-md-6">


            {% assign datas = site.data.skills | sort %}

            {% for skills in datas %}
            {% assign skill = skills[1] %}

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">{{ skill.title }}</div>
                <div class="clear"></div>
            </div>

            <div class="skills">
                {% for sk in skill.skills %}
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="{{ sk.perc }}%">
                    <div class="skillbar-title"><span>{{ sk.name }}</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">{{ sk.perc }}%</div>
                </div>

                {% endfor %}
            </div>
            {% endfor %}




            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">CV</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .download_resume -->
            <a class="download" style="margin:0;float: left;" href="#">
                <span data-hover="Download CV"><i class="glyphicon glyphicon-download-alt"></i> Download CV</span>
            </a>
            <!-- /.download_resume -->

        </div>
        <!-- /.resume-right -->


        <!-- .resume-left -->
        <div class="col-md-6 resume-left">

            {% assign datas = site.data.experience | sort %}

            {% for exps in datas %}
                {% assign exp_type = exps[1] %}


                <!-- .title_content -->
                <div class="title_content" style="margin-bottom:5px">
                    <div class="text_content">{{exp_type.title}}</div>
                    <div class="clear"></div>
                </div>
                <!-- /.title_content -->



                <!-- .attributes -->
                <ul class="attributes">
                    {% for sk in exp_type.experiences %}
                        <li> <!--  class="first" -->
                            <h5>{{sk.work}} <span class="duration"><i class="fa fa-calendar color"></i> {{sk.period}}</span>
                            </h5>
                            <h6><span class="fa fa-briefcase"></span> {{sk.company}}</h6>

                            <p>{{sk.description}}</p>

                            <h6><span class="fa fa-wrench"></span> {{sk.technology}}</h6>
                        </li>
                    {% endfor %}

                </ul>
                <!-- /.attributes -->
                <br>
            {% endfor %}







            <!-- .title_content -->
            <div class="title_content">
                <div class="text_content">Education</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Master of Engineering <span class="duration"><i
                            class="fa fa-calendar color"></i> 2011 - 2013</span></h5>
                    <h6><span class="fa fa-book"></span> Name of University</h6>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus
                        egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor
                        Vivamus.</p>
                </li>
                <li>
                    <h5>Bachelor of Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2010 - 2011</span>
                    </h5>
                    <h6><span class="fa fa-book"></span> Name of University</h6>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus
                        egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor
                        Vivamus.</p>
                </li>
            </ul>
            <!-- /.attributes -->
            <br>


        </div>
        <!-- /.resume-left -->
    </div>

    <div style="clear: both"></div>


</div>
<!-- End .resume -->