<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">Profilo - Mi presento</h1>

    <div class="row top-p">
        <div class="col-md-6 profile-l">

            <!--About me-->
            <div class="title_content">
                <div class="text_content">Jury Ghidinelli</div>
                <div class="clear"></div>
            </div>

            <ul class="about">

                <li>
                    <i class="glyphicon glyphicon-user"></i>
                    <label>Nome</label>
                    <span class="value">Jury Ghidinelli</span>

                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-calendar"></i>
                    <label>Data di nascita</label>
                    <span class="value">30 Giugno 1977</span>

                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <label>Indirizzo</label>
                    <span class="value">Gavardo, Brescia</span>

                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-envelope"></i>
                    <label>Email</label>
                    <span class="value">juryghidinelli@gmail.com</span>

                    <div class="clear"></div>
                </li>


                <li>
                    <i class="glyphicon glyphicon-globe"></i>
                    <label>Website</label>
                    <span class="value"><a href="https://juryghidinelli.github.io" target="_blank">juryghidinelli.github.io</a></span>

                    <div class="clear"></div>
                </li>

            </ul>

            <p style="margin-bottom:20px">
                <i class="fa fa-quote-left"></i>
                Ascoltare, capire, risolvere: penso che il lavoro di uno sviluppatore software si possa riassumere con
                queste tre parole, sia che si tratti di sviluppare un'applicazione web o di un'applicazione per
                smartphone, di un programma per un PLC o di un sito web. Ad uno sviluppatore,
                servono competenze tecniche (conoscere metodi, modi, strumenti), servono competenze comunicative
                (ascoltare le richieste, capire il problema, proporre soluzioni), serve immaginazione e creatività
                (per la risoluzione del problema, per l'interfaccia grafica) e serve tanta determinazione,
                perchè le tecnologie e quindi gli strumenti
                cambiano velocemente e c'è sempre bisogno di imparare cose nuove.
                E tutto questo non si improvvisa, si impara con il tempo; il tempo serve per costruire l'esperienza.
            </p>

            <p style="margin-bottom:20px">
                <i class="fa fa-quote-left"></i>
                The most important thing to remember (and hardest thing to do) is to design your program before you
                start coding.
                In many regards, programming is like architecture. What would happen if you tried to build a house
                without
                following an architectural plan? Odds are, unless you were very talented, you’d end up with a house
                that had a lot of problems: walls that weren’t straight, a leaky roof, etc… Similarly, if you try to
                program before you have a good game-plan moving forward, you’ll likely find that your code has a lot
                of problems, and you’ll have to spend a lot of time fixing problems that could have been avoided
                altogether
                with a little thinking ahead. <br/>
                <a href="https://www.learncpp.com/">www.learncpp.com</a>
            </p>

        </div>
        <!-- End left-wrap -->

        <div class="col-md-6 profile-r">

            <div class="cycle-slideshow">
                <img src="images/img-profile/about_1.jpg" alt=""/>
                <img src="images/img-profile/about_2.png" alt=""/>
                <img src="images/img-profile/about_3.png" alt=""/>
            </div>

        </div>

    </div>


    <div class="clear"></div>
</div>
<!-- End .profile -->